<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <mvc.getPageRendering>
        <processor type="Sitecore.Foundation.Assets.Pipelines.GetPageRendering.AddAssets, Sitecore.Foundation.Assets">
          <defaultAssets hint="raw:AddAsset">
            <!--Scripts from standard libraries-->
            <asset type="JavaScript" file="/scripts/jquery-2.0.3.js" />
            <asset type="JavaScript" file="/scripts/jquery.cookie.js" />
            <asset type="JavaScript" file="/scripts/jquery.blockUI.js" />
            <asset type="JavaScript" file="/scripts/jquery-ui-1.10.4.js" />
            
            <asset type="JavaScript" file="/scripts/jquery.validate.js" />
            <asset type="JavaScript" file="/scripts/jquery.unobtrusive-ajax.js" />
            
            <asset type="JavaScript" file="/scripts/bootstrap-1.2.1.js" />
            
            <asset type="JavaScript" file="/scripts/modernizr-2.6.1.min.js" />
            <asset type="JavaScript" file="/scripts/knockout-2.3.0.js" />
            <asset type="JavaScript" file="/scripts/knockout.validation-2.0.0.js" />
            
            <asset type="JavaScript" file="/scripts/Storefront/bootstrap.js" />
            
            <asset type="JavaScript" file="/scripts/jsuri-1.1.1.js" />
            <asset type="JavaScript" file="/scripts/autoNumeric.js" />
            <asset type="JavaScript" file="/scripts//Storefront/debug-knockout.js" />

            <!--Css files-->
            <asset type="Css" file="/Content/Storefront/bootstrap.css" />
            <asset type="Css" file="/Content/Storefront/bootstrap-addins.css" />
            <asset type="Css" file="/Content/Storefront/sitecore-theme.css" />
            <asset type="Css" file="/Content/Storefront/app.css" />
            <asset type="Css" file="/styles/storefront.css" />

            <!--Custom js scripts which are used cross all the solution-->
            <asset type="JavaScript" file="/scripts/Storefront/main.js" />
            <asset type="JavaScript" file="/scripts/Storefront/ViewModels/errorSummary_VM.js" />
            <asset type="JavaScript" file="/scripts/Storefront/ViewModels/wishlist_VM.js" />
            <asset type="JavaScript" file="/scripts/Storefront/wishlist.js" />
          </defaultAssets>
        </processor>
      </mvc.getPageRendering>
    </pipelines>
    <settings>
      <setting name="WebStylesheet" value="/styles/editor.min.css" />
      <setting name="WFM.EnableBootstrapCssRendering" >
        <patch:attribute name="value" value="false" />
      </setting>
    </settings>
  </sitecore>
</configuration>