<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sitecore" type="Sitecore.FakeDb.Configuration.ConfigReader, Sitecore.FakeDb" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Sitecore.Logging" />
  </configSections>
  <connectionStrings>
    <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
    <add name="core" connectionString="Data Source=localhost;Initial Catalog=habitat.localSitecore_core;Integrated Security=False;User ID=sa;Password=system" />
    <add name="master" connectionString="Data Source=localhost;Initial Catalog=habitat.localSitecore_master;Integrated Security=False;User ID=sa;Password=system" />
    <add name="web" connectionString="Data Source=localhost;Initial Catalog=habitat.localSitecore_web;Integrated Security=False;User ID=sa;Password=system" />
    <add name="analytics" connectionString="mongodb://localhost:27017/habitat_local_analytics" />
    <add name="tracking.live" connectionString="mongodb://localhost:27017/habitat_local_tracking_live" />
    <add name="tracking.history" connectionString="mongodb://localhost:27017/habitat_local_tracking_history" />
    <add name="tracking.contact" connectionString="mongodb://localhost:27017/habitat_local_tracking_contact" />
    <add name="reporting" connectionString="Data Source=localhost;Initial Catalog=habitat.localSitecore_reporting;Integrated Security=False;User ID=sa;Password=system" />
  </connectionStrings>
  <appSettings>
    <add key="xunit.parallelizeTestCollections" value="false" />
  </appSettings>
  <sitecore>
    <entityFactory type="Sitecore.Commerce.Entities.EntityFactory, Sitecore.Commerce" singleInstance="true" />
    <commerceServer>
      <types>
        <type name="ISiteContext" type="Sitecore.Foundation.CommerceServer.Infrastructure.Contexts.SiteContext, Sitecore.Foundation.CommerceServer" lifetime="Singleton" />
        <type name="CommerceStorefront" type="Sitecore.Foundation.CommerceServer.Models.CommerceServerStorefront, Sitecore.Foundation.CommerceServer" lifetime="PerCall" />
        <type name="CartCacheHelper" type="Sitecore.Foundation.CommerceServer.Helpers.CartCacheHelper, Sitecore.Foundation.CommerceServer" lifetime="Singleton" />
        <type name="CartLineBaseJsonResult" type="Sitecore.Feature.Cart.Models.JsonResults.CSCartLineBaseJsonResult, Sitecore.Feature.Cart" lifetime="PerCall" />
        <type name="IIndexResolver" type="Sitecore.Commerce.Connect.CommerceServer.Search.IndexResolver, Sitecore.Commerce.Connect.CommerceServer" lifetime="PerCall" />
      </types>
    </commerceServer>
    
    <contactRepository type="Sitecore.Analytics.Data.ContactRepository, Sitecore.Analytics" singleInstance="true" />
    <mongo recoveryTimeout="60">
      <driver type="Sitecore.Analytics.Data.DataAccess.MongoDb.MongoDbDriver, Sitecore.Analytics.MongoDB">
        <param desc="connectionString">$(0)</param>
        <param desc="failOnReadErrors">false</param>
      </driver>
    </mongo>
    <model>
      <entities>
        <contact>
          <factory type="Sitecore.Analytics.Data.ContactFactory, Sitecore.Analytics" singleInstance="true" />
        </contact>
      </entities>
    </model>
    <contactFactory type="Sitecore.Commerce.Contacts.ContactFactory, Sitecore.Commerce" />
    <dataAdapterManager defaultProvider="mongo">
      <providers>
        <clear />
        <add name="mongo" type="Sitecore.Analytics.Data.DataAccess.MongoDb.MongoDbDataAdapterProvider, Sitecore.Analytics.MongoDb" connectionStringName="analytics" />
      </providers>
    </dataAdapterManager>
    <settings>
      <setting name="LicenseFile" value="c:\Websites\license.xml" />
    </settings>
  </sitecore>
  <log4net />
  <system.web>
    <membership defaultProvider="fake">
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.Security.Web.FakeMembershipProvider, Sitecore.FakeDb" />
      </providers>
    </membership>
    <roleManager defaultProvider="fake" enabled="true">
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.Security.Web.FakeRoleProvider, Sitecore.FakeDb" />
      </providers>
    </roleManager>
    <profile defaultProvider="fake" enabled="true" inherits="Sitecore.FakeDb.Profile.FakeUserProfile, Sitecore.FakeDb">
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.Security.Web.FakeProfileProvider, Sitecore.FakeDb" />
      </providers>
      <properties>
        <clear />
        <add type="System.String" name="SC_UserData" />
      </properties>
    </profile>
  </system.web>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.1.0.3179" newVersion="2.1.0.3179" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Ploeh.AutoFixture" publicKeyToken="b24654c590009d4f" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.49.1.0" newVersion="3.49.1.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="NSubstitute" publicKeyToken="92dd2e9066daa5ca" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>