<!--
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <commerce.Entities>
      <EmailParty>
        <patch:attribute name="type">Sitecore.Commerce.Entities.EmailParty, Sitecore.Commerce</patch:attribute>
      </EmailParty>
    </commerce.Entities>

    <pipelines>

      <commerce.carts.addParties patch:source="Sitecore.Commerce.Carts.config">
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddPartiesToCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:attribute name="type">Sitecore.Feature.Cart.Pipelines.Carts.AddPartiesToCart, Sitecore.Feature.Cart</patch:attribute>
        </processor>
      </commerce.carts.addParties>

      <commerce.carts.removeParties patch:source="Sitecore.Commerce.Carts.config">
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RemovePartiesFromCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:attribute name="type">Sitecore.Feature.Cart.Pipelines.Carts.RemovePartiesFromCart, Sitecore.Feature.Cart</patch:attribute>
        </processor>
      </commerce.carts.removeParties>
      
      <translate.orderAddressToEntity>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.TranslateOrderAddressToEntity, Sitecore.Commerce.Connect.CommerceServer">
          <patch:attribute name="type">Sitecore.Feature.Cart.Pipelines.Carts.TranslateOrderAddressToEntity, Sitecore.Feature.Cart</patch:attribute>
        </processor>
      </translate.orderAddressToEntity>

      <translate.entityToOrderAddress>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.TranslateEntityToOrderAddress, Sitecore.Commerce.Connect.CommerceServer">
          <patch:attribute name="type">Sitecore.Feature.Cart.Pipelines.Carts.TranslateEntityToOrderAddress, Sitecore.Feature.Cart</patch:attribute>
        </processor>
      </translate.entityToOrderAddress>

      <translate.orderGroupToEntity patch:source="CommerceServer.Connectors.Carts.config">
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.TranslateOrderGroupToEntity, Sitecore.Commerce.Connect.CommerceServer">
          <patch:attribute name="type">Sitecore.Feature.Cart.Pipelines.Carts.TranslateOrderGroupToEntity, Sitecore.Feature.Cart</patch:attribute>
        </processor>
      </translate.orderGroupToEntity>

    </pipelines>
  </sitecore>
</configuration>