<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <commerce.Entities>
      <ShippingOptionType>
        <patch:attribute name="type">Sitecore.Commerce.Entities.Shipping.ShippingOptionType, Sitecore.Commerce</patch:attribute>
      </ShippingOptionType>
    </commerce.Entities>

    <pipelines>
      <commerce.shipping.getShippingMethods>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.GetShippingMethods, Sitecore.Commerce.Connect.CommerceServer">
          <patch:attribute name="type">Sitecore.Feature.Cart.Pipelines.Shipping.GetShippingMethods, Sitecore.Feature.Cart</patch:attribute>
        </processor>
      </commerce.shipping.getShippingMethods>
      
      <commerce.shipping.getShippingOptions>
        <processor type="Sitecore.Feature.Cart.Pipelines.Shipping.GetShippingOptions, Sitecore.Feature.Cart">
          <param ref="entityFactory"/>
        </processor>
      </commerce.shipping.getShippingOptions>
    </pipelines>
    
  </sitecore>
</configuration>