<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=localhost\SQL2016;Initial Catalog=storefront_habitat_core;Integrated Security=True;Connect Timeout=1" />
  <add name="master" connectionString="Data Source=localhost\SQL2016;Initial Catalog=storefront_habitat_master;Integrated Security=True;Connect Timeout=1" />
  <add name="web" connectionString="Data Source=localhost\SQL2016;Initial Catalog=storefront_habitat_web;Integrated Security=True;Connect Timeout=1" />
  <add name="reporting" connectionString="Data Source=localhost\SQL2016;Initial Catalog=storefront_habitat_reporting;Integrated Security=True;Connect Timeout=1" />

  <add name="analytics" connectionString="mongodb://localhost:27017/storefront_habitat_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/storefront_habitat_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/storefront_habitat_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/storefront_habitat_tracking_contact" />
</connectionStrings>