@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="wrap-nav-extras">
    @Html.Sitecore().Placeholder("navbar-extra")
</div>
<div class="wrap-main-nav">
    @Html.Sitecore().Placeholder("navbar-main")
</div>