@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="row">
    <div class="col-md-4 col-sm-6 hidden-md hidden-sm hidden-xs">
        @Html.Sitecore().Placeholder("navbar-extra-left")

    </div>
    <div class="col-md-8 col-sm-12">
        @Html.Sitecore().Placeholder("navbar-extra-right")
    </div>
</div>