@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel
<header class="wrap-main-content">
    <div id="S01-SingleColumn" class="row">
        @Html.Sitecore().Placeholder("page-header")
        @Html.Sitecore().Placeholder("page-main")
    </div>
</header>