<div id="C10-SocialConnector" class="social">
    <div>
        <a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" alt=" " /></a>
        <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
    </div>
    <div>
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
    </div>
</div>